@import "../../variables/variables.scss";

.heroContainer {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    .heroTextContainer {
        .heroTextBigHeader {
            position: absolute;
            top: 25%;
            right: 16%;
            font-size: 5rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: $yellow;

        }
    }
}