@import "../../variables/variables.scss";

.heroContainer {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/roadtrip.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;


    .heroTextContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        height: 80vh;


        .heroTextBigHeader {
            font-size: 10rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: $yellow;
            font-family: $font;
            filter: drop-shadow(0.5rem 0.4rem 0.3rem #000);
            margin: auto;
            width: 50%;
        }

        .heroDescriptionContainer {
            width: 50%;
            margin: auto;

            .heroTextDescription {
                font-size: 2.2rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                color: $black;
                font-family: $font;
                font-weight: $medium;
                margin-top: 0rem;
            }
        }
    }
}

@include media-sm {
    .heroContainer {

        .heroTextContainer {

            .heroTextBigHeader {
                font-size: 7rem;
                margin: auto;
                width: 80%;
            }

            .heroDescriptionContainer {
                width: 80%;
                margin: auto;
                padding-top: 1rem;

                .heroTextDescription {
                    font-size: 1.6rem;
                    margin-top: 0rem;
                }
            }
        }
    }
}

@include media-md {
    .heroContainer {

        .heroTextContainer {

            .heroTextBigHeader {
                font-size: 7rem;
                margin: auto;
                width: 80%;
            }

            .heroDescriptionContainer {
                width: 80%;
                margin: auto;
                padding-top: 1rem;

                .heroTextDescription {
                    font-size: 1.6rem;
                    margin-top: 0rem;
                }
            }
        }
    }
}