@import "../../variables/variables.scss";

.footerContainer{
    background: $yellow;
    margin: 0;
    padding: 0.5rem 0rem;
    bottom: 0;
    width: 100%;

    h3{
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
    }
}