@import "../../variables/variables.scss";

.heroForm {
    width: 100%;
    text-align: center;

    input {
        border: none;
        border-radius: 0.8rem;
        font-size: 2rem;
        padding-left: 1rem;

        &:focus {
            background: $white;
            color: $black;
            font-size: 2rem;
            padding-left: 1rem;
        }
    }

    #heroSearchForm {
        width: 75%;
        height: 4rem;
        border: 2px solid $black;

        &::placeholder {
            text-align: center;
        }
    }

    #findPlaceBtn {
        width: 10%;
        background: $black;
        color: $white;
        font-size: 1.5rem;
        font-family: $font;
        font-weight: $regular;
        text-transform: uppercase;
        height: 4.5rem;
        border-radius: 0.8rem;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
    }

    .searchFieldResults{
        margin: 0rem;
        padding: 0rem;
        background: $yellow;
        border-radius: 0.8rem;
        width: 78%;
        margin: auto;
        margin-right: 9.5rem;
        li{
            list-style-type: none;
            text-align: left;
            padding: 0.5rem 0rem;

            &:hover{
                background: $orange;
            }
            
            button{
                border: none;
                background: transparent;
                cursor: pointer;
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }

    .heroSearchResultButton{
        margin: 0rem;
        padding: 0rem;
        background: $white;
        border-radius: 0.8rem;
        width: 78%;
        margin: auto;
        margin-right: 8.7rem;
        li{
            list-style-type: none;
            text-align: left;
            padding: 0.5rem 0rem;

            &:hover{
                background: $yellow;
            }
            
            button{
                border: none;
                background: transparent;
                cursor: pointer;
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

@include media-sm {
    .heroForm {
        width: 100%;

        input {

            font-size: 1.3rem;

            &:focus {
                font-size: 1.3rem;
            }
        }

        #heroSearchForm {
            width: 50%;
            height: 3.8rem;
        }

        .searchFieldResults{
            margin: 0rem;
            padding: 0rem;
            background: $yellow;
            border-radius: 0.8rem;
            width: 78%;
            margin: auto;
            margin-right: 7rem;   
        }
    }
}

@include media-md {
    .heroForm {
        width: 100%;
        text-align: center;

        input {
            border: none;
            border-radius: 0.8rem;

            &:focus {
                background: $white;
                color: $black;
            }
        }

        #heroSearchForm {
            width: 75%;
            height: 3.8rem;
        }
    }
}