//Colors
$blue: rgb(105, 162, 239);
$orange: rgb(255, 120, 79);
$yellow: rgb(255, 193, 54);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(135, 135, 135);


//fonts
$font: 'Roboto',
sans-serif;

//Weights
$extra-bold: 900;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;
$thin: 100;

//mixins

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-sm{
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-small-lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-lg{
    @media screen and (max-width: 1300px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (max-width: 1600px) {
        @content;
    }
}