@import "../../variables/variables.scss";

.searchResultsContainer {

    padding-top: 0rem;
    padding-left: 0rem;
    width: 100%;
    margin: auto;

    .searchFieldContainer {
        margin-top: 0rem;

        h1 {
            padding-bottom: 3rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            font-size: 4rem;
        }

        .resultSearchField{
            width: 30%;
            margin: auto;
        }
    }

    .searchContainer {

        margin-top: 10rem;

        h1 {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            font-size: 4rem;
            padding-bottom: 3rem;
        }

        .searchResultsSection {
            border: 0.2rem solid $black;
            border-radius: 0.8rem;

            .searchSection {
                padding: 2rem;
                border-bottom: 1px solid $black;
                display: flex;
                justify-content: space-between;

                .searchTitle {
                    font-size: 2rem;
                }

                button {
                    background: $black;
                    border: none;
                    color: $white;
                    padding: 1rem 2rem;
                    border-radius: 0.4rem;

                    &:hover {
                        background: $orange;
                    }
                }
            }
        }
        .searchResultsBlogs{
            text-align: center;
            text-decoration: none;
            h3{
                font-size: 2.5rem;
                color: $black;
                text-decoration: none;

                &:hover{
                    color: $orange;
                }
            }
        }
    }

}

@include media-sm{
    .searchResultsContainer {

        .searchFieldContainer {
    
            .resultSearchField{
                width: 90%;
                margin: auto;
            }
        }
}
}